.burger-ingredient {
    background-color: rgba(255, 255, 255, .2);
    cursor: pointer;
    width: 272px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.burger-ingredient-price-text {
    display: inline-flex;
}

.burger-ingredient-price-text > svg {
    margin-left: 9px;
}
