.ForgotPasswordMain {
    gap: 24px;
}

.Logo {
    margin-top: 100px;
}

.EmailInput {
    width: 480px;
}

.EmailInput > :global(.input__container) {
    width: 100%;
}

.EmailInput > :global(.input__container) > :global(.input_size_default) {
    width: 100%;
}
