.Scroller {
    overflow-y: auto;
    height: calc(100vh - 98px);
}

.Scroller::-webkit-scrollbar {
    width: 12px;
}
.Scroller::-webkit-scrollbar-track {
    background: #2F2F37;
}
.Scroller::-webkit-scrollbar-thumb {
    background: #8585AD;
    border: 3px solid #2F2F37;
    border-radius: 6px;
}

.OrderList {

}
